.side_bar
  .side_box
    .side_name
      %p name
    .side_icon
      =link_to "#", class: "side_btn" do
        = icon('fas', 'edit')
      =link_to "#", class: "side_btn" do
        = icon('fas', 'cog')

  .comments
    .comments__message
      %h1 test
      %p まだメッセージはありません


  


