.side_bar
  .side_box
    %p.side_name
       = current_user.name
    .side_icon
      =link_to "#", class: "side_btn" do
        = icon('fas', 'edit')
      =link_to "edit_user_path(current_user)", class: "side_btn" do
        = icon('fas', 'cog')

  .comments
    .comments__message
      %h1 test
      %p まだメッセージはありません


  


