.main-chat {

  .main-box {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      overflow: scroll;
      height: 100px;
      width: 1100px;
      
    &_left_menu {
      padding: 0 0 0 40px;
    &_name {
      font-size: 20px;
      color: #333333;
      padding: 35px 0px 15px 0px;
    }
  
    &_member-list {
      font-size: 12px;
      color: #999999;
    }}

    &_edit {
      border: 1px solid #57c3e9;
      color: #57c3e9;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      display: inline-block;
      margin-top: 30px;
      margin-right: 40px;
      margin-bottom: 20px;
      padding: 10px 20px;
      cursor: pointer;

      a {
        color: #57c3e9;
      }
    }}


  .chat_box {
    background-color: #fafafa;
    height: 610px;
    overflow: scroll;
    padding-bottom: 80px;
  }


  .form_box {
    background-color: #ddd;
    height: 90px;
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    align-items: center;
    width: 1100px;
    padding: 20px 50px 20px 40px;
    
    &_text {
      font-size: 16px;
      color: #434A54;
      padding: 0 0 0 10px;
      width: 900px;
      position: relative;
    }
    
    input {
      height: 40px;
    }
        
    &_image {
      padding-right: 0px;
      align-items: center;
      cursor: pointer;
      position: absolute;
      right: 170px;
      top: 30px;
    }
        
    &_select {
      display: none;
      cursor: pointer;
    }
    
    &_submit {
      background-color: #38AEF0;
      color: #ffffff;
      text-align: center;
      border-radius: 3px;
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;
      float: right;
    }}
  

  .message {
    padding: 46px 0 10px 40px;
    .upper-message{
      display: flex;
      
    &__user-name {
      
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
    }

    &__date {
      font-size: 12px;
      color: #999999;
      padding: 0 0 0 10px;
    }}

    .lower-message {
    
      font-size: 14px;
      color: #434A54;
    }}
}